.common-detail{
    font-size: 13px;
    color: #999;
}

.common-image{
    margin-bottom: 20px;
}

.common-title{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.common-content{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.list-group{
    display: flex;
    justify-content: space-between;
}

/* Category */
.category{
    margin-top: 16px;
}

/* Category - Header */
.category-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px;
    background-color: #ec7d2c;
}

.main-category,
.sub-category{
    text-align: center;
}

.main-category{
    margin: 20px 0;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
}

.sub-category .category-box-button{
    position: relative;
    width: 155px;
    padding: 8px 12px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
}

.sub-category .category-box-button::after{
    position: relative;
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: -3px;
    color: #fff;
}

.sub-category .category-box-button.on::after{
    content: "\f0de";
    top: 3px;
}

.sub-category .category-box-button .sub-category-title{
    font-size: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.sub-category-box{
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    z-index: 100;
}

.sub-category-box .sub-category-box-item{
    width: 100%;
    padding-bottom: 0;
    color: #000;
    text-align: left;
}

.sub-category-box .sub-category-box-item button{
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 10%;
    font-size: 14px;
    line-height: 40px;
    text-align: left;
    background-color: #fff;
}

.sub-category-box .sub-category-box-item button:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.order{
    margin-bottom: 30px;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display:none;
}

.order .order-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
}

.order .order-group button{
    border: 1px solid rgb(216, 222, 226);
    border-radius: 20px;
    padding: 7px 12px;
    background-color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.order .order-group button:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.order .order-group button.selected{
    border: 1px solid #000;
}


/* Product */
.product{
    position: relative;
    text-align: center;
}

.main-title{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.card-list{
    margin-bottom: 20px;
}

.card{
    max-width: 250px;
    margin: 0 1px;
}

.card:first-child{
    margin-right: 15px;
}

.card-desc{
    padding: 0 10px;
}

.card-image{
    position: relative;
}

.card-image img{
    width: 100%;
    height: auto;
    transition: transform 250ms ease-in-out;
}

.card:hover .card-image img{
    transform: scale(1.1);
}

.notice-sticker{
    position: absolute;
    bottom: -18px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px solid white;
    font-size: 19px;
    font-weight: 700;
    line-height: 65px;
    color: #fff;
    background-color: #ec7d2c;
}

.product .notice-count{
    margin-bottom: 40px;
    font-weight: 500;
}

.product .notice-count strong{
    color: #ec7d2c;
}

.product .card-title{
    color: #888;
}

.product .card-content{
    color: #000;
}

.more-button{
	position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #ec7d2c;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #ec7d2c;
}

.until-prod-count{
	position: absolut	e;
	top: 0;
	left: 0;
	opacity: 0;
}

@media screen and (min-width: 768px){

    .common-image{
        margin-bottom: 25px;
    }

    .common-title{
        font-size: 16px;
        margin-bottom: 12px;
    }

    .common-content{
        font-size: 16px;
        margin-bottom: 15px;
    }

    /* Category */
    .category{
        margin-top: 121px;
    }

    /* Category Header */
    .category-header{
        flex-direction: row;
        justify-content: center;
        padding: 50px 0;
        margin-buttom: 50px;
    }

    .main-category{
        display: flex;
        align-items: center;
        margin: 0 20px 0 0;
        font-size: 32px;
        font-weight: 500;
        text-align: right;
    }

    .main-category::after{
        content: "";
        font-family: "Font Awesome 5 Free";
        font-size: 1em;
        font-weight: 900;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 50px;
        color: #fff;
        background-image: url("../images/chevron.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
    }

    .sub-category{
        margin: 0 0 0 30px;
    }

    .sub-category-box{
        position: absolute;
        top: 50px;
        left: 0;
    }

    .order{
        margin-bottom: 50px;
    }

    .order .order-group{
        justify-content: center;
    }

    .order .order-group button{
        margin: 0 10px;
        font-size: 16px;
    }

    /* Product */
    .card-list{
        margin-bottom: 50px;
    }

    .card:first-child{
        margin-right: 30px;
    }

    .more-button{
        width: 100px;
        border-radius: 20px;
   		margin: 0 auto 40px;
        font-size: 16px;
    }
}