body{
    background-color: #f6f6f9;
}

.container{
    width: 100%;
}

/* Section */
.tab-section{
    margin: 40px 0 20px;
}

.tab-section .section-title a{
    display: block;
    width: 176px;
    height: 50px;
    margin: 0 auto 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    text-align: right;
    background-image: url("../images/ticket.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.tab-section .find-tab{
    width: 90%;
    margin: 0 auto;
}

.tab-section .find-tab::after{
    content: "";
    display: block;
    clear: left;
}

.tab-section .find-tab li{
    float: left;
    width: 50%;
}

.tab-section .find-tab li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 14px;
    border: 1px solid #d96f1c;
    cursor: pointer;
}

.tab-section .find-tab li:first-child a{
    color: #d96f1c;
    background-color: #fff;
}

.tab-section .find-tab li:last-child a{
    color: #fff;
    background-color: #d96f1c;
}

/* Main */
.main{
    padding: 30px 20px;
    border: 1px solid rgb(229, 229, 230);
    margin-bottom: 30px;
    background-color: #fff;
}

.main header{
    margin: 0 auto 30px;
    border-bottom: 1px solid rgb(229, 229, 230);
    text-align: center;
}

.main header h1,
.main header p{
    text-align: center;
}

.main header h1{
    margin-bottom: 10px;
    font-size: 22px;
}

.main header p{
    margin-bottom: 30px;
    font-size: 14px;
    color: #6a6a6a;
}

.main .input-group{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.main .info-box .userid-group{
    margin-bottom: 10px;
}

.main .input-group label{
    display: inline-block;
    width: 65px;
    margin-right: 10px;
}

.main .input-group input{
    flex-grow: 1;
    height: 40px;
    border: 1px solid rgb(229, 229, 230);
    padding: 0 10px;
}

.main .input-group input.wrong{
    border: 1px solid rgb(212, 0, 0);
    background-color: rgba(212, 0, 0, 0.1);
}

.main .input-group input::placeholder{
    font-size: 14px;
}

.main .response{
    margin-bottom: 30px;
    text-align: center;
    color: #000;
}

.main .response p{
    font-size: 15px;
    font-weight: 600;
}

.main .response .no-result{
    color: #fd472b;
}

.main .response .yes-result{
    color: green;
}

.main .info-box .send-code-button{
    display: block;
    width: 120px;
    height: 40px;
    border: 1px solid rgb(229, 229, 230);
    border-radius: 20px;
    margin: 0 auto 30px;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 150ms ease-in-out;
}

.main .info-box .send-code-button:hover{
    box-shadow: 0 2px 3px rgba(229, 229, 230, 0.9);
}

.main .button-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.main .button-group li a,
.main .button-group li button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.main .button-group li{
    width: 48%;
}

.main .button-group li a{
    color: #000;
    border: solid 1px #c9c9c9;
    background-color: rgb(229, 229, 230);
}

.main .button-group li button{
    color: #fff;
    border: solid 1px #d96f1c;
    background-color: #d96f1c;
}

/* main-footer */
.main-footer p{
    font-size: 14px;
    color: #989898;
}

.main-footer p em{
    font-style: normal;
    color: #d96f1c;
}

.main-footer p em:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Footer */
.footer{
    margin-bottom: 30px;
    font-size: 12px;
    text-align: center;
    color: #777;
}





@media screen and (min-width: 768px){

    .container{
        width: 560px;
        margin: 0 auto;
    }

    /* Section */
    .tab-section{
        margin: 60px 0 20px;
    }

    .tab-section .section-title a{
        margin: 0 auto 40px;
    }

    .tab-section .find-tab li a{
        font-size: 16px;
    }

    /* Main */
    .main{
        padding: 50px 50px;
        margin-bottom: 50px;
    }

    .main header p{
        font-size: 16px;
    }

    .main .response p{
        font-size: 16px;
    }

    .main .button-group li a,
    .main .button-group li button{
        font-size: 16px;
    }

}