.section-title{
    height: 100px;
    padding: 40px 0 0;
    font-size: 26px;
    font-weight: 900;
    color: #333;
}

.common-detail{
    font-size: 13px;
    color: #999;
}

.common-image{
    margin-bottom: 20px;
}

.common-title{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.common-content{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}

.image-transition img{
    transition: all 250ms ease-in-out;
}

.image-transition:hover img{
    transform: scale(1.1);
    filter: brightness(80%);
}

.list-group{
    display: flex;
    justify-content: space-between;
}

/* Promotion */
.promotion{
    position: relative;
    display: none;
    margin-top: 20px; /* header 스크롤 어느정도되면 fixed로 바꾸는거 js로 처리하기 */
    z-index: 100;
}

.promotion-area{
    width: 100%;
    height: 405px;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.promotion h1{
    display: none;
}

.promotion-item{
    position: relative;
    margin: 0 15px;
    text-align: center;
}

.promotion-item-image{
    width: 450px;
    height: 405px;
}

.promotion-item-image img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.promotion-item .promotion-item-content{
    position: absolute;
    top: 78%;
    width: 100%;
    color: #fff;
}

.promotion-item .promotion-item-content h3{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}

.promotion-item .promotion-item-content p{
    margin-bottom: 30px;
    font-size: 12px;
    color: #fff;
}

.promotion-area .prev-button,
.promotion-area .next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 60px;
    color: #999;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.promotion-area .prev-button{
    left: 20px;
    background-image: url("http://tkfile.yes24.com/imgNew/common/slide-dir-prev.png");
}

.promotion-area .next-button{
    right: 20px;
    background-image: url("http://tkfile.yes24.com/imgNew/common/slide-dir-next.png");
}

/* Product */
.product{
    text-align: center;
}

.card-list{
    margin-bottom: 20px;
}

.card{
    max-width: 250px;
    margin: 0 1px;
}

.card:first-child{
    margin-right: 15px;
}

.card-desc{
    padding: 0 10px;
}

.card-image{
    position: relative;
}

.card-image img{
    width: 100%;
    height: auto;
    transition: transform 250ms ease-in-out;
}

.card:hover .card-image img{
    transform: scale(1.1);
}

.notice-sticker{
    position: absolute;
    bottom: -18px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px solid white;
    font-size: 19px;
    font-weight: 700;
    line-height: 65px;
    color: #fff;
    background-color: #ec7d2c;
}

.product .card-title{
    color: #888;
}

.product .card-content{
    color: #000;
}

/* Musical Only */
.musical-only{
    display: flex;
    width: 100%;
    height: 300px;
    color: #fff;
    background-color: #000;
}

.musical-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-left: 8%;
    margin-right: 50px;
}

.musical-content h3{
    font-size: 26px;
}

.musical-content h3,
.musical-content .musical-content-desc strong{
    font-weight: 500;
}

.musical-content h3,
.musical-content .musical-content-desc{
    margin-bottom: 20px;
}

.musical-content .musical-content-desc{
    font-size: 14px;
}

.musical-content .musical-content-desc strong::before{
    content: "#";
}

.musical-content .info-box{
    max-width: 300px;
    height: 120px;
    padding: 16px 0;
    margin-bottom: 40px;
    border-top: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
}

.musical-content .info-box a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.musical-content .info-box-image{
    width: 86px;
    height: 86px;
    margin-right: 10px;
    background-image: url("http://tkfile.yes24.com/Upload2/Display/202006/20200612/thumb2.jpg/dims/quality/70/");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.musical-content .info-box-desc p{
    font-size: 12px;
}

.musical-content .info-box-desc p:first-child{
    margin-bottom: 12px;
}

.musical-content .info-box-desc p:first-child::before{
    content: "(+)";
    margin-right: 3px;
}

.musical-content .info-box-desc p:last-child::after{
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-size: 0.8em;
    font-weight: 900;
    margin-left: 3px;
}

.musical-video{
    display: none;
}

.musical-video .musical-video-content{
    max-width: 711px;
    height: 400px;
}

.musical-video iframe{
    width: 100%;
    height: 100%;
}

/* Ranking - ranking area */
.ranking{
    padding: 40px 0;
    color: #333;
    background-color: #F6F6F6;
}

.ranking-area .ranking-header{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

.ranking-area .area-title{
    font-size: 26px;
    font-weight: 900;
    margin-right: 10px;
}

.ranking-area .more-ranking-button{
    display: none;
    width: 80px;
    height: 34px;
    border: 1px solid #ddd;
    font-size: 14px;
    background-color: #fff;
}

.ranking-area .more-ranking-button::after{
    content: "+";
    margin-left: 3px;
}

.ranking-area .more-ranking-button:hover{
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(125, 125, 125, 0.35);
}

.ranking-item-group{
    width: 100%;
}

.ranking-item{
    padding: 14px 10px;
    border-bottom: 1px solid #999;
}

.ranking-item:last-child{
    border-bottom: 1px solid #000;
}

.ranking-item dl{
    display: flex;
}

.ranking-item .ranking-item-ranking{
    min-width: 24px;
    margin-right: 15px;
    font-size: 15px;
}

.ranking-area .ranking-item-image{
    margin-right: 10px;
}

.ranking-area .ranking-item-image img{
    width: 80px;
    height: 112px;
}

.ranking-item .ranking-item-title{
    display: block;
    font-weight: 500;
}

.ranking-area .ranking-item .hide{
    display: none;
}

.ranking-area .ranking-item.on .hide{
    display: block;
}

.ranking-area .ranking-item.on .ranking-item-ranking{
    font-weight: 900;
}

.ranking-area .ranking-item.on .ranking-item-title{
    margin-bottom: 12px;
    font-weight: 700;
}

/* Ranking - place area */
.ranking .row .col-12:first-child{
    margin-bottom: 40px;
}

.place-area{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.place-area .place-item{
    max-width: 161px;
}

.place-area .area-title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.place-area .area-title::after{
    content:"\f3c5";
    font-family: "Font Awesome 5 Free";
    font-size: 0.95em;
    font-weight: 900;
    margin-left: 10px;
    color: #ec7d2c;
}

.place-area .place-item-image{
    position: relative;
    margin: 0 2px 14px;
    overflow: hidden;
}

.place-area .place-item-image img{
    width: 100%;
    height: auto;
}

.place-area .place-item-image .place-sticker{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #ec7d2c;
}

.place-area .place-item-title{
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* Recommendation */
.recommendation{
    text-align: center;
}

.recommendation .recommendation-item-group{
    align-items: center;
}

.recommendation .card{
    border: 1px solid #ddd;
}

.recommendation .card:hover{
    border: 1px solid #ec7d2c;
}

.recommendation .card-image{
    overflow: hidden;
}

.recommendation .card-title{
    color: #000;
}

.recommendation .card-place{
    color: #888;
}

@media screen and (min-width: 768px){

    .common-image{
        margin-bottom: 25px;
    }

    .common-title{
        font-size: 16px;
        margin-bottom: 12px;
    }

    .common-content{
        font-size: 16px;
        margin-bottom: 15px;
    }

    /* Promotion */
    .promotion{
        display: block;
        margin-top: 170px;
    }

    /* Product */
    .section-title{
        height: 152px;
        padding: 82px 0 0;
    }

    .card-list{
        margin-bottom: 50px;
    }

    .card:first-child{
        margin-right: 30px;
    }

    /* Musical Only */
    .musical-only{
        height: 400px;
    }

    .musical-content{
        align-items: flex-start;
        width: 42%;
    }

    .musical-content h3{
        margin-bottom: 25px;
        font-size: 40px;
    }

    .musical-content .musical-content-desc,
    .musical-content .info-box{
        margin-bottom: 40px;
    }

    .musical-content .musical-content-desc strong{
        font-size: 18px;
    }

    .musical-content .info-box-desc p{
        font-size: 14px;
    }

    .musical-video{
        display: block;
        width: 58%;
    }

    /* Ranking */
    .ranking{
        padding: 80px 0;
    }

    .ranking .row .col-12:first-child{
        margin-bottom: 0;
    }

    .area{
        height: 500px;
        border: 1px solid #ddd;
        background-color: #fff;
    }

    .ranking-area{
        max-width: 480px;
        padding: 50px 10%;
    }

    .place-area{
        max-width: 690px;
        padding: 50px 8%;
    }

    .ranking-area .ranking-header{
        justify-content: space-between;
    }

    .ranking-area .more-ranking-button{
        display: inline-block;
    }

    .ranking-item{
        padding: 12px 10px;
    }

}