/* Notice-Header */
.notice-header h1{
    margin: 150px auto 60px;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.notice-header .row{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.notice-header .notice-title-group{
    display: flex;
    align-items: center;
}

.notice-header .notice-title-group strong{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #ec7d2c;
    margin-right: 20px;
    color: #ec7d2c;
}

.notice-header .notice-title-group h2{
    font-size: 18px;
    font-weight: 500;
}

.notice-header .notice-title-group,
.notice-header .notice-info{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.notice-header .notice-info{
    display: none;
}

.notice-header .notice-info dl{
    display: flex;
    font-size: 14px;
    color: #999;
}

.notice-header .notice-info dl dt{
    margin-right: 5px;
}

.notice-header .notice-info dl:first-child dd::after{
    content: "·";
    padding: 0 10px;
    font-weight: 900;
}

/* Main */
.main .notice-file-group{
    display: block;
    height: 40px;
    margin-bottom: 20px;
    line-height: 40px;
}

.main .notice-file-group dl{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.main .notice-file-group dt{
    visibility: hidden;
}

.main .notice-file-group dd:nth-child(2){
    margin-right: 10px;
}

.main .notice-file-group dd:nth-child(2)::before{
    content: "\f0c6";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.main .product-group{
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.main .product-group .ticket-open-image{
    display: none;
    max-width: 180px;
    height: auto;
}

.main .product-group .ticket-open-image img{
    width: 100%;
}

.main .ticket-open-group .ticket-open-title{
    display: none;
    margin-bottom: 30px;
    font-weight: 500;
    text-align: center;
}

.main .ticket-open-group .ticket-open-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border: 1px solid #ec7d2c;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fbe5d5;
}

.main .ticket-open-group .ticket-open-bar::before{
    content: "티켓오픈";
    width: 92px;
    height: 22px;
    margin-right: 35px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    text-align: right;
    color: #ec7d2c;
    background-image: url("http://tkfile.yes24.com/imgNew/sub/ico-rp-tko1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.main .ticket-open-group .button-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .ticket-open-group a,
.main .ticket-open-group button{
    width: 120px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.main .ticket-open-group a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-right: 30px;
}

.main .ticket-open-group button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ec7d2c;
    color: #ec7d2c;
}

.main .ticket-open-group button::after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 3px;
    background-image: url("http://tkfile.yes24.com/imgNew/common/ico-noti-j.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.main .ticket-open-group a:hover,
.main .ticket-open-group button:hover{
    transform: scale(1.1);
}

.main .notice-content{
    padding: 30px 0;
    word-break: break-all;
}

.main .move-button-group{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    text-align: center;
}

.main .move-button-group a{
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.main .move-button-group a:hover{
    background-color: rgba(0, 0, 0, 0.04);;
}

.main .move-button-group a:first-child{
    /*border-bottom: 1px solid #000;*/
}

.main .move-button-group a::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.main .move-button-group a:first-child::before{
    content: "\f0d8";
}

.main .move-button-group a:last-child::before{
    content: "\f0d7";
}

.main .move-button-group a strong{
    font-weight: 500;
}

.main .list-button-group{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main .list-button-group a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(216, 222, 226);
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(240, 240, 240);
}

.main .list-button-group a:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 768px){

    /* Notice-Header */
    .notice-header .notice-title-group{
        justify-content: flex-start;
        left: -15px;
    }

    .notice-header .notice-info{
        display: flex;
        justify-content: flex-end;
        right: -15px;
    }

    /* Main */
    .main .notice-file-group dl{
        position: relative;
        right: -15px;
    }

    .main .product-group{
        padding: 60px;
    }

    .main .product-group .ticket-open-image{
        display: block;
    }

    .main .ticket-open-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }

    .main .ticket-open-group .ticket-open-title{
        display: block;
        font-size: 18px;
    }

    .main .ticket-open-group .ticket-open-bar{
        justify-content: flex-start;
        padding-left: 30px;
    }

    .main .ticket-open-group a,
    .main .ticket-open-group button{
        width: 150px;
        height: 50px;
        font-size: 16px;
    }

    .main .notice-content{
        padding: 50px 0;
    }

    .main .move-button-group{
        text-align: left;
    }

    .main .move-button-group a{
        height: 35px;
        line-height: 35px;
        font-size: 15px;
    }



}