/* Search */
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 240px;
    margin: 100px 0 30px 0;
    color: #fff;
    background-color: #bf90ce;
}

.search .search-group{
    width: 90%;
    height: 100%;
    padding-top: 40px;
    background-image: url("/finalproject4/resources/images/notice2.png"); /* ### */
    background-repeat: no-repeat;
    background-size: contain;
    background-position : right;
}

.search h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.search p{
    font-size: 14px;
    margin-bottom: 10px;
}

.search input,
.search button{
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
}

.search input{
	color: black;
    width: 70%;
    padding: 10px 20px;
}

.search button{
    width: 25%;
    color: #fff;
    background-color: #9764a9;
}

.search button:hover{
    box-shadow: 0 2px 4px rgba(151, 100, 169, 0.8);
}

/* QNA */
.qna{
    margin-bottom: 30px;
}

.qna h1{
    position: fixed;
    top: 300px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.qna .category{
    margin-bottom: 30px;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display:none;
}

.qna .category .category-group{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
}

.qna .category .category-group button{
    border: 1px solid rgb(216, 222, 226);
    border-radius: 20px;
    padding: 7px 12px;
    margin: 0 10px;
    background-color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.qna .category .category-group button:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.qna .category .category-group button.selected{
    border: 1px solid #000;
}

.table{
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
}

.table .no-result-notice{
    width: 100%;
    text-align: center;
}

.table .no-result-notice strong{
    font-size: 16px;
    font-weight: 500;
}

.table .no-result-notice.show{
    display: block;
}

.table .no-result-notice.hide{
    display: none;
}

.table .thead.show{
    display: block;
}

.table .thead.hide{
    display: none;
}

.table .tbody .row:hover{
    background-color: #f8f8f8;
}

.table .row{
    display: flex;
}

.table .row span{
    padding: 16px 0;
}

.table .row .table-title,
.table .row .table-date,
.table .row .table-view{
    padding: 16px 3% 16px 0;
}

.table .row .table-category{
    width: 15%;
}

.table .row .table-title{
    width: 55%;
}

.table .row .table-date{
    width: 20%;
}

.table .row .table-view{
    width: 5%;
}

.table .row .table-file{
    width: 5%;
}

.table .row .table-file.yes::before{
    content: "\f0c6";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.table .thead .row{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: 600;
}

.table .tbody .row{
    border-bottom: 1px solid #ddd;
}

.table .tbody .row .table-title{
    cursor: pointer;
}

.page-group{
    text-align: center;
    margin: 30px 0 50px 0;
}

.page-group .page-button{
    padding: 0 5px;
    background-color: #fff;
    cursor: pointer;
}

.page-group .page-button.selected,
.page-group .page-button:hover{
    color: #d96f1c;
}


@media screen and (min-width: 768px){
    /* Search */

    .search{
        margin-bottom: 50px;
    }

    .search .search-group{
        width: 60%;
    }

    .search h1{
        font-size: 36px;
    }

    .search input{
        width: 248px;
    }

    .search button{
        width: 122px;
    }

    /* QNA */
    .qna .category{
        margin-bottom: 50px;
    }

    .qna .category .category-group button{
        font-size: 16px;
    }

    .table{
        width: 90%;
        font-size: 14px;
    }

    .table .no-result-notice strong{
        font-size: 20px;
    }

    .table .row .table-category{
        padding-left: 20px;
        width: 15%;
    }

    .table .row .table-title{
        width: 55%;
    }

    .table .row .table-date{
        width: 14%;
    }

    .table .row .table-view{
        width: 8%;
    }

    .table .row .table-file{
        width: 8%;
    }

}