body{
    position: relative;
}

/* Search */
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 240px;
    margin: 16px 0 30px;
    color: #fff;
    background-color: #568ade;
}

.search .search-group{
    width: 90%;
    height: 100%;
    padding-top: 40px;
    background-image: url("/finalproject4/resources/images/qna.png"); /* ## */
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: bottom;
}

.search h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.search p{
    font-size: 14px;
    margin-bottom: 10px;
}

.search input,
.search button{
    height: 40px;
    border-radius: 3px;
    font-size: 14px;
}

.search input{
    width: 70%;
    padding: 10px 20px;
}

.search button{
    width: 25%;
    color: #fff;
    background-color: #3b68cc;
}

.search button:hover{
    box-shadow: 0 2px 4px rgba(59, 104, 204, 0.8);
}

/* QNA */
.qna h1{
    position: fixed;
    top: 300px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
}

.qna{
    margin-bottom: 50px;
}

.qna .category{
    margin-bottom: 30px;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display:none;
}

.qna .category .category-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
}

.qna .category .category-group button{
    border: 1px solid rgb(216, 222, 226);
    border-radius: 20px;
    padding: 7px 12px;
    background-color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.qna .category .category-group button:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.qna .category .category-group button.selected{
    border: 1px solid #000;
}

.table{
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

.table .no-result-notice{
    width: 100%;
    text-align: center;
}

.table .no-result-notice strong{
    font-size: 16px;
    font-weight: 500;
}

.table .no-result-notice.show{
    display: block;
}

.table .no-result-notice.hide{
    display: none;
}

.table .thead.show{
    display: block;
}

.table .thead.hide{
    display: none;
}

.table .row{
    display: flex;
    justify-content: flex-end;
}

.table .table-category,
.table .table-title{
    padding: 16px 0;
}

.table .table-category{
    width: 25%;
    padding-left: 2%;
    padding-right: 3%;
}

.table .table-title,
.table .table-content{
    padding-right: 2%;
}

.table .table-title{
    width: 75%;
}

.table .table-content{
    display: none;
    width: 75%;
    margin-bottom: 16px;
    font-size: 12px;
}

.table .thead .row{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: 600;
}

.table .tbody .row{
    border-bottom: 1px solid #ddd;
}

.table .tbody .row.on{
    background-color: #f8f8f8;
}

.table .tbody .row.on .table-content{
    display: block;
}

.table .tbody .row .table-title{
    cursor: pointer;
}
.qna .container .col-12:last-child{
    margin-top: 50px;
    text-align: center;
}

.qna-button{
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #fff;
}

.qna-button p{
    font-size: 14px;
}

.qna-button strong{
    font-weight: 500;
    color: #ec7d2c;
}

.qna-button strong:hover{
    text-decoration: underline
}

.page-group{
    text-align: center;
    margin: 30px 0 50px 0;
}

.page-group .page-button{
    padding: 0 5px;
    background-color: #fff;
    cursor: pointer;
}

.page-group .page-button.selected,
.page-group .page-button:hover{
    color: #d96f1c;
}

/* Modal */
.modal{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.modal .modal-group{
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
}

.modal .modal-header{
    position: relative;
    height: 60px;
    border-bottom: 1px solid rgb(216, 222, 226);
    text-align: center;
}

.modal .modal-header .close-button{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 24px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal .modal-header .close-button:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.modal .modal-header h1{
    font-size: 16px;
    line-height: 60px;
}

.modal .modal-content{
    width: 100%;
    padding: 15px;
    font-size: 14px;
}

.modal .modal-form .modal-table{
    width: 100%;
    height: 80%;
}

.modal .modal-form .modal-table .row{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(216, 222, 226);
}

.modal .modal-form .modal-table .row:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.modal .modal-form .modal-table .table-title{
    margin-bottom: 10px;
    font-weight: 600;
}

.modal .modal-form .modal-table .table-content{
    margin-bottom: 15px;
}

.modal .modal-form .modal-table .sort .table-content{
    margin-bottom: 0;
}

.modal .modal-form .modal-table .table-content .modal-input-group label{
    margin-right: 2%;
}

.modal .modal-form .modal-table .table-content input::placeholder,
.modal .modal-form .modal-table .table-content textarea::placeholder{
    font-size: 12px;
}

.modal .modal-form .modal-table .table-content select{
    width: 100%;
    height: 25px;
}

.modal .modal-form .modal-table .table-content input[type="text"],
.modal .modal-form .modal-table .table-content textarea{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid rgb(216, 222, 226);
    border-radius: 6px;
    font-size: 14px;
}

.modal .modal-form .modal-table .table-content input[type="text"]:focus,
.modal .modal-form .modal-table .table-content textarea:focus{
    border: 1px solid #000;
}

.modal .modal-form .qna-ok-button{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #ec7d2c;
    transition: box-shadow 150ms ease-in-out;
}

.modal .modal-form .qna-ok-button:hover{
    box-shadow: 0 2px 4px 0 rgba(236, 125, 44, 0.4);
}


@media screen and (min-width: 768px){
    /* Search */

    .search{
        margin: 116px 0 50px;
    }

    .search .search-group{
        width: 60%;
    }

    .search h1{
        font-size: 36px;
    }

    .search input{
        width: 248px;
    }

    .search button{
        width: 122px;
    }

    /* QNA */
    .qna .category{
        margin-bottom: 50px;
    }

    .qna .category .category-group{
        justify-content: center;
    }

    .qna .category .category-group button{
        margin: 0 10px;
        font-size: 16px;
    }

    .table{
        width: 90%;
    }

    .table .no-result-notice strong{
        font-size: 20px;
    }

    .table .table-title,
    .table .table-content{
        padding-right: 20px;
    }

    .table .table-category{
        width: 20%;
        padding-left: 20px;
    }

    .table .table-title{
        width: 80%;
    }

    .table .table-content{
        width: 80%
    }

    .qna-button{
        width: 300px;
        height: 50px;
        margin: 0 auto;
    }

    .qna-button a p{
        font-size: 15px;
    }

    /* Modal */
    .modal .modal-group{
        width: 568px;
        height: 560px;
    }

    .modal .modal-content{
        padding: 20px;
        font-size: 16px;
    }

    .modal .modal-form .modal-table .row{
        flex-direction: row;
        border-bottom: none;
    }

    .modal .modal-form .modal-table .row:last-child{
        margin-bottom: 15px;
    }

    .modal .modal-form .modal-table .sort .table-content{
        margin-bottom: 15px;
    }

    .modal .modal-form .modal-table .table-title{
        width: 15%;
    }

    .modal .modal-form .modal-table .table-content{
        width: 85%;
    }

    .modal .modal-form .modal-table .table-content select{
        height: 30px;
    }

    .modal .modal-form .modal-table .table-content input[type="text"],
    .modal .modal-form .modal-table .table-content textarea{
        padding: 10px;
        font-size: 16px;
    }

    .modal .modal-form .qna-ok-button{
        height: 50px;
        margin-bottom: 0;
    }

}